.destaques {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: calc(100vh - 5rem);
  gap: 0.2rem;
  text-align: center;
}
.destaques__principal {
  background-image: url(../img/cs-go.jpg);
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}
.destaques__secundario:nth-child(2) {
  background-image: url(../img/rocketleague.webp);
}
.destaques__secundario:nth-child(3) {
  background-image: url(../img/valorant.jpg);
}
.destaques__secundario:nth-child(4) {
  background-image: url(../img/overwatch2.webp);
}
.destaques__secundario:nth-child(5) {
  grid-column-start: 3;
  grid-row-start: 3;
  background-image: url(../img/mario-kart.jpg);
}
.destaques__categorias {
  grid-column: 1 / 3;
  grid-row-start: 3;
}
.destaques__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 5rem;
}
.caixa {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}
.destaques__categorias {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
}
.destaques__categorias___lista {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  gap: 1rem;
}
.destaques__categorias___item {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
